    body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#f5f7fa;
    }
    
    nav{
    background:#1e3a5f;
    padding:10px;
    }
    
    nav ul{
    list-style:none;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin: 0px;
    }
    
    nav li{
    margin: 0px 15px 5px 0px;
    }
    
    nav a{
    color:white;
    text-decoration:none;
    font-size: 15px;
    font-weight: lighter;
    }
    
    nav a:hover{
    opacity: 0.8;
    }

    .container{
        max-width:900px;
        margin:auto;
        padding:20px;
    }
        
    h1{
    color:#1e3a5f;
    }
    h2{
    color:#1e3a5f;
    }

    .image {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        border-radius: 10px;
    }

input, button {
    margin-top: 10px;
    padding: 8px;
    font-size: 14px;
}

button {
    background-color: #1e3a5f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

#results {
    margin-top: 20px;
}

textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    margin-top: 10px;
}

input {
    width: 100%;
}
